main{
  display: flex;
  padding: 0 13em;
  align-items: center;
  margin-top: 3em;
  flex-direction: column;
}

main h2{
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.information-container{
  display: flex;
  gap: 0.5em;
  margin-bottom: 4em;
  margin-top: 2em;
}

.information-section{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  max-width: 200px;
}

.img-container{
  width: 160px;
  height: 160px;
  border: 4px solid #3882f6;
  border-radius: 20px;
}

.information-section p{
  font-size: 16px;
  color: #545454;
}

.quote{
  display: flex;
  padding: 4em 13em;
  flex-direction: column;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
}

.quote-text{
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}

.quote-author{
  color: #1f2937;
  font-size: 24px;
  font-weight: 700;
  align-self: flex-end;
}
